
@font-face {
	font-family: 'genath';
	src: url('genath-light-webfont.eot');
	src: url('genath-light-webfont.eot?#iefix') format('embedded-opentype'),
		url('genath-light-webfont.woff2') format('woff2'),
		url('genath-light-webfont.woff') format('woff'),
		url('genath-light-webfont.ttf') format('truetype'),
		url('genath-light-webfont.svg#genath-light-webfont') format('svg');
	font-weight: 400;
	font-style: normal;
}
